.mainName {
  text-align: center;
  font-family: "Lobster", cursive;
  color: aqua;
}

body {
  background-color: black;
}

nav {
  color: #6e3218;
  font-family: "Playfair Display", serif;
  background-color: rgb(218, 218, 218) !important;
}
a {
  color: #6e3218 !important;
}
.name {
  text-align: center;
  font-family: "Lobster", cursive;
  color: #6e3218;
  padding-top: 5%;
}

p,
.contact {
  color: white;
}

.about {
  float: left;
  overflow: auto;
}

.perImg {
  float: left;
  margin: 5px;
  max-width: 300px;
}

.indText {
  text-align: justify;
}

.aboutSec {
  clear: both;
  margin: 10px;
}

.igFeed {
  margin: 40px;
}

.homeIcon {
  max-width: 15%;
}

.mainImg {
  display: block;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.address,
.mainAbt {
  text-align: center;
  color: #6e3218;
  font-family: "Playfair Display", serif;
  margin-top: 5%;
}

#pixlee_container {
  margin-top: 8%;
  margin: auto;
  max-width: 90%;
}

.aboutHr {
  background-color: white;
  /* border-width: 20px; */
}

.mapouter {
  position: relative;
  text-align: right;
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
  padding: 5%;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

.addressMap {
  color: white;
  text-align: center;
  margin-top: 4%;
}

@media screen and (max-width: 525px) {
  .mainName {
    text-align: center;
    font-family: "Lobster", cursive;
    color: aqua;
  }

  body {
    background-color: black;
  }

  nav {
    color: #6e3218;
    font-family: "Playfair Display", serif;
    background-color: rgb(218, 218, 218) !important;
  }
  a {
    color: #6e3218 !important;
  }
  .name {
    text-align: center;
    font-family: "Lobster", cursive;
    color: #6e3218;
    padding-top: 5%;
  }

  p {
    color: white;
  }

  .about {
    max-width: 90%;
    float: left;
    clear: both;
    overflow: auto;
  }

  .perImg {
    /* float: left; */
    margin: 5px;
    width: 100%;
  }

  .indText {
      max-width: 85%;
    text-align: left;
  }

  .aboutSec {
    clear: both;
    margin: 10px;
  }

  .igFeed {
    margin: 40px;
  }

  .homeIcon {
    max-width: 15%;
  }

  .mainImg {
    display: block;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  .address,
  .mainAbt {
    text-align: center;
    color: #6e3218;
    font-family: "Playfair Display", serif;
    margin-top: 5%;
  }

  #pixlee_container {
      clear: both;
      display: block;
    margin-top: 8%;
    margin: auto;
    max-width: 90%;
  }

  .aboutHr {
    background-color: white;
    /* border-width: 20px; */
  }

  .mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
    padding: 5%;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
  }

  .addressMap {
    color: white;
    text-align: center;
    margin-top: 4%;
  }
}
